.sign-up{
    margin: 100px auto;
    width: 300px;
    padding: 25px;
    box-shadow: 0px 3px 14px 9px grey;
    background-color: lemonchiffon;
}

.header{
    margin: 0 0 15px 0;
    border-bottom: 1px solid;
    text-align: center;
    text-transform: uppercase;
    color: green;
}

label{
    font-size: 20px;
}

input{
    width:100%;
    height: 30px;
    margin: 10px 0;
    border-radius: 2px;
    border: 1px solid purple;
}

.button-box{
    text-align: center;
}

.button-signup{
    padding: 10px 25px;
    margin: 15px 0;
    background: palegreen;
    border: none;
    color: darkred;
    width: 100%;
    font-size: 100%;
}

.signup-text{
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.signin-link{
    color: blue
}